* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.hidden{
  display: none;
}

.toggleButton{
  margin: 3px;
}

input{
  width: 9%;
}